                
/*
CSS Code for body
*/
body {
    background-color:#f1f3f8;
}
/*
CSS Code for horizontal rule
*/
hr {
    background-color: #f1f3f8;
    border-color:#dddddd;
    border-style:none;
    border-top-style: dotted;
    border-top-width:5px;
    width:10%;
    height:1px;
}
/*
CSS Code for Heading 1
*/
h1 {
    color:#41444b;
    font-family:"Fira Sans", sans-serif;
}

/*
CSS Code for Heading 3
*/
h3 {
    color:#41444b;
    font-family: "Gill Sans", sans-serif;   
}